

@{
	Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@* <h2>
	Welcome 
	@if (signInManager.IsSignedIn(User))
	{
		var user = await userManager.GetUserAsync(User);
		<span>@user.FirstName @user.LastName</span>
	}
</h2> *@
